body {
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-navbar-container {
  display: flex;
  align-self: flex-start;
}

.right-navbar-container {
  display: flex;
  align-self: flex-end;
}

.right-nav-button {
  align-self: auto;
}

.left-nav-button {
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
