html {
  height: 100%;
  margin: auto;
}

body {
  font-family: sans-serif;
  height: 100%;
}

#app {
  height: 100%;
}

#ace-editor {
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-navbar-container {
  display: flex;
  align-self: flex-start;
}

.right-navbar-container {
  display: flex;
  align-self: flex-end;
}

.bottom-window-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.command-line-container {
  display: flex;
  background-color: rgb(240, 215, 182);
  width: 100%;
  height: 100%;
}

.program-window-container {
  display: flex;
  background-color: beige;
  width: 100%;
  height: 100%;
}

.right-nav-button {
  background-color: black;
  box-shadow: 0 0 0 0.1rem rgb(242, 248, 213);
  margin-bottom: 0.5rem;
}

.right-nav-button a {
  color: white;
}

.left-nav-button {
  background-color: black;
  box-shadow: 0 0 0 0.1rem rgb(195, 207, 212);
}

.left-nav-button a {
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
